    #module-paysoncheckout2-pconepage #modal .modal-header {
        padding: 0;
        border-bottom: none;
    }

    #module-paysoncheckout2-pconepage .modal-content {
            padding: 10px;
    }

    #module-paysoncheckout2-pconepage .condition-label {
        margin-left: 2.5rem;
        margin-top: .625rem;
    }
    
    #module-paysoncheckout2-pconepage .terms-card .card-block {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    #module-paysoncheckout2-pconepage .row .bootstrap-touchspin {
        min-width: 69px;
    }
    
    #module-paysoncheckout2-pconepage .terms-and-options ul {
        margin-bottom: 0;
    }
    
    #module-paysoncheckout2-pconepage .terms-and-options ul label {
        cursor: pointer;
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
    }
    
    #module-paysoncheckout2-pconepage .card .free-shipping {
        
    }
    
    #module-paysoncheckout2-pconepage #giftwrappingextracost {
       margin: -3px 0 0 3px;
    }

    #module-paysoncheckout2-pconepage .no-padding-left {
        padding-left: 0;
    }

    #module-paysoncheckout2-pconepage .label .code {
        text-decoration: underline;
        cursor: pointer;
    }
    
    #module-paysoncheckout2-pconepage .label {
        color: #7a7a7a;
    }
    
    #module-paysoncheckout2-pconepage .block-promo .promo-input {
        margin-bottom: 5px;
    }
    
    #module-paysoncheckout2-pconepage #paysonpaymentwindow {
        padding: 1rem;
        height: auto;
        overflow: hidden;
    }
    
    /*moved items */
    #module-paysoncheckout2-pconepage .left-col .right-col {
        float: none;
        padding: 0 0 0 0;
    }
    
    .full-width {
        width: 100%;
    }

    .payson-main {
        /*font-size: 16px;*/
    }
    
    #module-paysoncheckout2-validation #iframepayson, #module-paysoncheckout2-confirmation #iframepayson, #module-paysoncheckout2-payment #paysonpaymentwindow {
        margin-bottom: 1.5em;
    }
    
    .payson-cf:after {
        clear: both;
        content: '';
        display: block;
    }
    
    .fl-l {
        float: left;
    }
    
    .fl-r {
        float: right;
    }
    
    .fl-n {
        float: none;
    }
    
    .clear { 
        clear: both; 
    }
    
    .payson-box {
        margin-bottom: 2em;
    }
    
    .payson-box:after {
        clear: both;
        content: '';
        display: block;
    }

    .payson-check-group {
        display: inline-block;
        margin: 0 0 .625em;
        position: relative;
    }
        
    .payson-check-group:after {
        clear: both;
        content: '';
        display: block;
    }
    
    .payson-check-group > input,
    .payson-check-group > .checker,
    .payson-check-group > span,
    .payson-check-group > label {
        display: block;
        float: left;
    }
            
    .payson-check-group > .checker > span {
        top: 0;
    }
    
    .payson-check-group > span,
    .payson-check-group > label {
        font-size: .9375em;
    }
    
    .payson-infobox {
        background: #f0f4f8;
        border-radius: 3px;
        color: #434343;
        line-height: 1.618em;
        margin: 0 0 2em;
        padding: 15px 15px 15px 62px;
        position: relative;
    }
    
    .payson-infobox strong {
        color: #0089cf;
    }
        
    .payson-input {
        background: #fff;
        border: 0;
        box-shadow: inset 0 0 0 1px #cbcbcd;
        color: #595959;
        font-size: .9375em;
        font-weight: 600;
        max-width: 100%;    
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
        
    .payson-input:hover {

    }
    
    .payson-input:focus {
        box-shadow: 0 0 0 1px #0089cf,
                    inset 0 1px 1px 0 #d3d3d3,
                    inset 0 1px 3px rgba(0, 0, 0, .06),
                    0 0 3px 1px #0089cf;
        outline: 0;
    }
            
    .payson-input--text {
        height: 2.866666666666667em;
        padding: 0 1em;
    }
    
    .payson-input--area {
        margin: 0 0 .625em;
        min-height: 5em;
        padding: 1em;
        resize: vertical;
    }
    
    .payson-input--full {
        width: 100%;
    }
    
    .payson-input[disabled],
    .payson-input[disabled="disabled"] {
        background: #f6f6f6;
        color: #545454;
        opacity: 1;
    }
    
    .payson-input::-webkit-input-placeholder { color: #a9a9a9; font-weight: 400; }
    .payson-input:-webkit-input-placeholder { color: #a9a9a9; font-weight: 400; }
    .payson-input:-moz-placeholder { color: #a9a9a9; font-weight: 400; }
    .payson-input::-moz-placeholder { color: #a9a9a9; font-weight: 400; }
    .payson-input:-ms-placeholder { color: #a9a9a9; font-weight: 400; }

    .payson-click-trigger,
    .payson-click-trigger * {
        cursor: pointer;
    }
    
    .payson-click-trigger:before {
        color: #0089cf;
        content: '\E5CE';
        display: block;
        float: right;
        font-family: Material Icons;
        font-size: 16px;
    }
        
    .payson-click-trigger--inactive:before {
        content: '\E5CF';
    }
    
    .payson-click-trigger--big {
        background: #f0f4f8;
        border: 0;
        border-radius: 3px;
        padding: 1em;
    }
            
    .payson-click-trigger--big:before {
        font-size: 18px;
    }
    
    #module-paysoncheckout2-pconepage .alternative-methods {
        text-transform: none;
        font-size: 14px;
        float: right;
        font-weight: normal;
        position: absolute;
        right: 1rem;
        top: 1.5rem;
    }
    
    @media (max-width: 992px) {
        .alternative_methods {
            display: block;
            float: none;
        }
    }

    .payson-select-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .hidden_pco_radio { 
        display: none; 
    }
       
    .payson-select-list__item:after,
    .payson-select-list__item__label:after {
        clear: both;
        content: '';
        display: block;
    }
    
    .payson-select-list__item__radio {
        display: none;
    }
    
    .payson-select-list__item__label {
        color: #838383;
        cursor: pointer;
        display: block;
        line-height: 1.6em;
        margin: 0;
        padding: 1em;
        position: relative;
        width: 100%;
    }
            
    .payson-select-list__item__status {
        margin-right: .6666666666666667em;
    }
    
    .payson-select-list__item__status,
    .payson-select-list__item__title {
        display: block;
        float: left;
        min-height: 1.6em;
    }
    
    .payson-select-list__item__nbr {
        display: block;
        float: right;
        font-weight: normal;
        min-height: 1.6em;
    }
                
    .payson-select-list__item__status i {
        background: #f0f4f8;
        border-radius: 100%;
        color: transparent;
        display: block;
        height: 1.6em;
        line-height: 1.6em;
        text-align: center;
        width: 1.6em;
    }
                    
    .payson-select-list__item__label:hover {
        color: #434343;
    }
    
    .payson-select-list__item__label:hover .payson-select-list__item__status i,
    .payson-select-list__item__label:hover .payson-select-list__item__nbr {
        color: #0089cf;
    }
    
    .selected .payson-select-list__item__label {
        color: #434343;
    }
    
    .selected .payson-select-list__item__status i {
        background: #0089cf;
        color: #fff;
    }
    
    .selected .payson-select-list__item__label:hover .payson-select-list__item__status i {
        color: #fff;
    }
        
    .selected .payson-select-list__item__nbr {
        color: #0089cf;
    }
    
    .payson-select-list__item.selected {
        border: 1px solid #0089cf;
    }
    
/*    .payson-select-list__item.selected label:before {
        content: 'check_circle';
        font-family: Material Icons;
        color: #0089cf;
        float: left;
        margin: 0px 5px 0px 0px;
        display: inline-block;
    }*/
    
    .payson-select-list__item__info {
        clear: both;
        display: block;
        font-size: .8666666666666667em;
        font-weight: normal;
        padding-left: 2.615384615384615em;
    }
            
    @media (min-width: 992px) {
        .has-tooltips .payson-select-list__item__info {
            background: rgba(32, 36, 40, .8);
            border-radius: 3px;
            color: #fff;
            display: block;
            font-size: .875em;
            height: 3em;
            line-height: 3em;
            margin-top: -1.5em;
            padding: 0 1.125em;
            pointer-events: none;
            white-space: nowrap;
            position: absolute;
            top: 50%;
            left: 98%;
            z-index: 1;
            filter: alpha(opacity=0);
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .15s ease-in-out;
            -moz-transition: all .15s ease-in-out;
            -ms-transition: all .15s ease-in-out;
            -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
        }
        
        .has-tooltips .payson-select-list__item__info:after {
            border: 5px solid transparent;
            border-right: 5px solid rgba(32, 36, 40, .8);
            content: '';
            display: block;
            margin-top: -5px;
            position: absolute;
            top: 50%;
            left: -10px;
        }
        
        .has-tooltips .payson-select-list__item__label:hover .payson-select-list__item__info {
            left: 100%;
            filter: alpha(opacity=100);
            opacity: 1;
            visibility: visible;
        }
    }
    
[id="center_column"] {
    width: 100%;
}

[id="left_column"],
[id="right_column"],
.shipping_cart,
.order_delivery,
.delivery_option_icon,
[id="giftmessagearea"] {
    display: none;
}

#module-paysoncheckout2-pconepage #order_step,
#module-paysoncheckout2-pconepage .price_discount_delete,
#module-paysoncheckout2-pconepage .standard-checkout{ display: none; }            

#module-paysoncheckout2-pconepage div.shopping_cart span.remove_link{display:none;}

#module-paysoncheckout2-pconepage #order_step,
#module-paysoncheckout2-pconepage .cart_navigation,
#module-paysoncheckout2-pconepage #voucher,
#module-paysoncheckout2-pconepage .title-offers,
#module-paysoncheckout2-pconepage #display_cart_vouchers,
#module-paysoncheckout2-pconepage #cart_voucher * {
	display: none;
}